/* CSS Box-sizing Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #0A0908;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
/* End of css reset */

.value {
  text-decoration: underline;
}

ul {
  padding: 0;
}

.header-logo {
  color: white;
  font-family: sriracha;
  font-size: 28px;
  text-decoration: none;
}

.header-name:hover {}

.nav-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
}

.nav-menu-link {
  color: white;
  font-family: Sans-Serif;
  font-size: 1.1rem;
}

.nav-menu-link:hover {
  color: dodgerblue;
}

.nav-menu-link:link {
  text-decoration: none;
}

.nav-menu {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.nav-menu-item {
  padding: 0 12px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  background-color: #0A0908;
  position: sticky;
  top: 0;
  z-index: 99;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
}

.social-btn {
  color: white;
  background-color: #0A0908;
  padding: 2px 28px;
  border: 2px;
  font-size: 1.1rem;
}

.social-btn-link:not(:last-child) {
  margin-right: 12px;
}

.social-buttons-container {
  display: flex;
  justify-content: center;
  width: 160px;
}

@media screen and (max-width: 600px) {
  .header-container {
    flex-direction: column;
    margin-bottom: 4px;
  }
  header-logo {
    margin-bottom: 8px;
  }
  nav-menu {
    margin-bottom: 12px;
  }
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .lang-container {
    display: flex;
    flex-direction: column;
  }
}

.main-container {
  color: white;
  font-family: jost;
  text-align: center;
  display: flex;
}

.main-container h2 {
  font-size: 1.7rem;
  padding: 16px;
}

.main-container h3 {
  padding: 8px;
}


.lang-container {
  display: flex;
  padding: 16px;
  justify-content: space-between;
}

.main-container img {
  height: 600px;
  width: 50%;
  padding: 32px;
}