/* CSS Box-sizing Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #0A0908;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
/* End of css reset */

.header-name {
  color: white;
  font-family: sriracha;
}

.header-name:hover {
  color: red;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
}

.nav-menu-link {
  color: white;
  font-family: Sans-Serif;
  font-size: 1.1rem;
}

.nav-menu-link:hover {
  color: dodgerblue;
}

.nav-menu-link:link {
  text-decoration: none;
}

.nav-menu {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.nav-menu-item {
  padding: 0 12px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  background-color: #0A0908;
  position: sticky;
  top: 0;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
}

.social-btn {
  color: white;
  background-color: #0A0908;
  padding: 2px 28px;
  border: 2px;
  font-size: 1.1rem;
}

.social-btn-link:not(:last-child) {
  margin-right: 12px;
}

.social-buttons-container {
  display: flex;
}

.main-container {
  display: flex;
  flex-direction: column;
  background-color: #0A0908;
  color: white;
  max-width: 960px;
  margin: 0 auto;
  
}

.main-container h4 {
  color: grey;
  padding-left: 48px;
}

.main-container h2 {
  color: white;
  padding-left: 48px;
}

.phone {
  height: 70vh;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.author {
  text-align: center;
  color: #EAE0D5;
  font-size: 7vh;
  font-family: jost;
  margin-bottom: 36px;
  margin-top: 36px;
}

.bio {
  text-align: center;
  margin-bottom: 24px;
  font-size: 125%;
  font-family: Sans-Serif;
}

.main-container-sections {
  position: relative;
  border-radius: 12px;
  background-color: #39393A;
  margin-bottom: 60px;
  width: 90%;
  max-height: 540px;
  margin-left: auto;
  margin-right: auto;
}

.overlay {
  border-radius: 12px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #22333B;
}

.text {
  font-family: jost;
  color: #EAE0D5;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.main-container-sections:hover .overlay {
  opacity: 1;
}

footer {
  color: white;
}

.bio-container {
  color: white;
  max-width: 1200px;
  margin: 0 auto;
}

.author-img {
  height: auto;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}

.author-section {
  margin-bottom: 48px;
}

@media screen and (max-width: 600px) {
  .author-section {
    display: flex;
  }
}

.footer-p {
  text-align: center;
}