/* CSS Box-sizing Reset */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #0a0908;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
/* End of css reset */


ul {
  padding: 0;
}

.header-logo {
  color: white;
  font-family: sriracha;
  font-size: 28px;
  text-decoration: none;
}

.header-name:hover {}

.nav-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
}

.nav-menu-link {
  color: white;
  font-family: Sans-Serif;
  font-size: 1.1rem;
}

.nav-menu-link:hover {
  color: dodgerblue;
}

.nav-menu-link:link {
  text-decoration: none;
}

.nav-menu {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.nav-menu-item {
  padding: 0 12px;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  background-color: #0A0908;
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
}

.social-btn {
  color: white;
  background-color: #0A0908;
  padding: 2px 28px;
  border: 2px;
  font-size: 1.1rem;
}

.social-btn-link:not(:last-child) {
  margin-right: 12px;
}

.social-buttons-container {
  display: flex;
  justify-content: center;
  width: 160px;
}

@media screen and (max-width: 600px) {
  .header-container {
    flex-direction: column;
    margin-bottom: 4px;
  }
  header-logo {
    margin-bottom: 8px;
  }
  nav-menu {
    margin-bottom: 12px;
  }
  author {
    font-size: 48px;
  }
}

body {
  font-family: "Lato", sans-serif;
  color: #333;
  background-color: #f8f8f9;
}

form {
  max-width: 480px;
  margin: 50px auto;
  padding: 16px;
  border: 1px solid #eaeaea;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background-color: #ffffff;
  border: 1px solid #e5e5e4;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 8px 18px;
  height: 48px;
  width: 100%;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 16px;
  transition: all 0.2s ease;
}

input::placeholder {
  color: #999;
}

input:focus,
textarea:focus,
select:focus {
  border-color: #0f868c;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

button {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 15px 26px;
  color: #fff;
  background-color: #0f868c;
  border-radius: 4px;
  border: 1px solid #0f868c;
  text-align: center;
  width: 100%;
}

fieldset {
  margin-bottom: 28px;
  border: none;
}

legend {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 16px;
}

label {
  display: block;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 4px;
}

label.light {
  font-weight: 300;
  display: inline;
}
